#form148 {
    /* width: 100%; */
}

#submitButton {
    width: 50%; 
    margin-left: 25%;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color: grey;
    border-width: 1px;
    font-style: normal;
}

#inputField {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    color: white;
    font-size: 35px;
}

#pdfDownloadButton {
    width: 50%;
    margin-left: 25%;
}

#buttonStyledText {
    width: 50%; 
    margin-left: 25%;
    padding: 10px 25px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color: grey;
    border-width: 1px;
}