#formWrapper {
    border-style: solid;
    border-width: 2mm;
    border-color: lightgray;
    width: 50%;
    margin-left: 25%;
}

#form148 {
    /* width: 100%; */
}

#submitButton {
    width: 40%; 
    margin-left: 30%;
}

#inputField {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    color: white;
    font-size: 35px;
}

#sendMailButton {
    margin-left: 37.5%;
    width: 25%;
    text-align: center;
}

#pdfDownloadButton {
    width: 40%;
    margin-left: 41.25%;
}

#link {
    text-decoration: none;
}
