#attachmentLink {
    text-align: center;
    width: 100%;
}

#downloadLinkDiv {
    margin-left: 37.5%;
}

#reusableFormComponent {
    border-style: solid;
    border-width: 2mm;
    border-color: lightgray;
    width: 50%;
    margin-left: 25%;
}

#anlageDownloadButton {
    width: 25%;
    margin-left: 37.5%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

#formWrapper {
    border-style: solid;
    border-width: 2mm;
    border-color: lightgray;
    width: 50%;
    margin-left: 25%;
}

#buttonStyledTextIndex {
    width: 20%; 
    margin-left: 40%;
    padding: 10px 25px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color: grey;
    border-width: 1px;
}